<!--
 * :file description: 
 * :name: /digital/src/pages/document.ejs
 * :author:张德志
 * :copyright: (c) 2024, Xiaozhi
 * :date created: 2024-07-26 16:04:17
 * :last editor: 张德志
 * :date last edited: 2024-09-27 21:52:02
-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>数擎科技</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>